<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>DBConnectMySQL</display-name>
    <servlet-name>DBConnectMySQL</servlet-name>
    <servlet-class>config.DBConnectMySQL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBConnectMySQL</servlet-name>
    <url-pattern>/DBConnectMySQL</url-pattern>
  </servlet-mapping>
  <display-name>w3.2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserDaoImpl</display-name>
    <servlet-name>UserDaoImpl</servlet-name>
    <servlet-class>vn.iotstar.dao.UserDaoImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDaoImpl</servlet-name>
    <url-pattern>/UserDaoImpl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserModelImpl</display-name>
    <servlet-name>UserModelImpl</servlet-name>
    <servlet-class>vn.iotstar.dao.impl.UserModelImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserModelImpl</servlet-name>
    <url-pattern>/UserModelImpl</url-pattern>
  </servlet-mapping>
</web-app>