<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>HelloServlet</display-name>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>vn.iotstar.controllers.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/HelloServlet</url-pattern>
  </servlet-mapping>
  <display-name>Hello5</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HelloForm</display-name>
    <servlet-name>HelloForm</servlet-name>
    <servlet-class>HelloForm.HelloForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloForm</servlet-name>
    <url-pattern>/HelloForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckBoxAction</display-name>
    <servlet-name>CheckBoxAction</servlet-name>
    <servlet-class>CheckBoxAction.CheckBoxAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckBoxAction</servlet-name>
    <url-pattern>/CheckBoxAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckBoxAction2</display-name>
    <servlet-name>CheckBoxAction2</servlet-name>
    <servlet-class>CheckBoxAction2.CheckBoxAction2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckBoxAction2</servlet-name>
    <url-pattern>/CheckBoxAction2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>checkBox</display-name>
    <servlet-name>checkBox</servlet-name>
    <servlet-class>checkBox.checkBox</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkBox</servlet-name>
    <url-pattern>/checkBox</url-pattern>
  </servlet-mapping>
</web-app>